
<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
      <p>© 2022 Copyright: Nathan Mulubrhan</p>
    </div>
    <!-- Copyright -->
  
  </footer>











</body>
</html>
