<nav class="navbar navbar-expand-lg navbar-light bg-light ms-auto">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Passport JS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="justify-content-end collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#Registrering">Passport Strategier</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#Registrering">Registrering forklaring</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#Pålogging">Pålogging forklaring</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#Rammeverk">Sikker rammeverk?</a>
          </li>
          <li>
            <a class="btn btn-light btn-lg btn-logout" href="/logout" role="button">Logg ut</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>