<%- include('partials/header') %>


<div class="jumbotron centered overskrift">
  <div class="container">
    
    <h1 class="display-3 ">IT - Rom 0000</h1>
    <p class="lead">Logg inn for å få tilgang til nettverks konfigurasjonen</p>
    <hr class="Mainlinje">
    <a class="btn btn-dark btn-lg" href="/login" role="button">Pålogging</a>

  </div>
</div>

<%- include('partials/footer') %>
