<%- include('partials/header') %>
  <%- include('partials/navbar') %>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" integrity="sha256-qM7QTJSlvtPSxVRjVWNM2OfTAz/3k5ovHOKmKXuYMO4=" crossorigin="anonymous"></script>
    <style type="text/css">
        .tg  {border-collapse:collapse;border-spacing:0;margin-left: auto;
                    margin-right: auto}
        .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
          overflow:hidden;padding:10px 5px;word-break:normal;}
        .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
          font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
        .tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
        .tg .tg-za14{border-color:inherit;text-align:left;vertical-align:bottom}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
        </style>
        <table class="tg">
        <thead>
          <tr>
            <th class="tg-0pky">IP PLAN</th>
            <th class="tg-0pky"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="tg-za14">Network default&nbsp;&nbsp;&nbsp;gateway</td>
            <td class="tg-za14">10.11.1.1</td>
          </tr>
          <tr>
            <td class="tg-za14">Static ip</td>
            <td class="tg-za14">10.11.1.200-253</td>
          </tr>
          <tr>
            <td class="tg-za14">DHCP Scope </td>
            <td class="tg-za14">10.11.1.2-199</td>
          </tr>
          <tr>
            <td class="tg-0pky"></td>
            <td class="tg-0pky"></td>
          </tr>
          <tr>
            <td class="tg-za14">Ubuntu server</td>
            <td class="tg-za14">10.11.1.200</td>
          </tr>
          <tr>
            <td class="tg-za14">Network adapter:&nbsp;&nbsp;&nbsp;</td>
            <td class="tg-0pky">enp3s0</td>
          </tr>
          <tr>
            <td class="tg-za14">DNS </td>
            <td class="tg-za14">10.11.1.201</td>
          </tr>
        </tbody>
        </table>


 
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    <p>© 2022 Copyright: Bleiker Videregående Skole</p>
  </div>
  <!-- Copyright -->

</footer>

</body>
</html>