<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <title>Bootstrap Example</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>


    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
    crossorigin="anonymous"
  />
  <link rel="stylesheet" href="index.css" />

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"
  ></script>



  </head>
  <body class="">

    <div style=" box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"> 
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark navZindex navHome shadow-lg p-3">
        <div class="container px-6">
          <a href="/"> <img src="IMG/logo.svg" alt="" style="width: 200px;"> </a>
  
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="container">
              <ul class="navbar-nav d-flex justify-content-evenly">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#!">Hjem</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/register">Registrer deg</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#!">Login</a></li>
                <li class="nav-item">
                  <a class="nav-link" href="#KontaktOss">Kontakt oss</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#!">Om</a>
                </li>
              </li>
              <li class="nav-item "><a class="nav-link " href="#!">CV'er</a>
              </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    
    </div>
    <!-- Example Code -->
    <div class="p-3 m-0 border-0 bd-example"> 

    <div class="card-group">
      
      <div class="card">
       <a href="/cv"> <img src="IMG\finnarbeidereLogoSmall.png" style="width: 100%;
        height: 70%;"> </a>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>


      <div class="card">
        <a> <img src="IMG\finnarbeidereLogoSmall.png" style="width: 100%;
         height: 70%;"> </a>
         <div class="card-body">
           <h5 class="card-title">Card title</h5>
           <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
           <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
         </div>
       </div>
       <div class="card">
        <a> <img src="IMG\finnarbeidereLogoSmall.png" style="width: 100%;
         height: 70%;"> </a>
         <div class="card-body">
           <h5 class="card-title">Card title</h5>
           <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
           <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
         </div>
       </div>
    </div>




    <div class="card-group">
      <div class="card">
       <a> <img src="IMG\finnarbeidereLogoSmall.png" style="width: 100%;
        height: 70%;"> </a>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <a> <img src="IMG\finnarbeidereLogoSmall.png" style="width: 100%;
         height: 70%;"> </a>
         <div class="card-body">
           <h5 class="card-title">Card title</h5>
           <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
           <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
         </div>
       </div>
       <div class="card">
        <a> <img src="IMG\finnarbeidereLogoSmall.png" style="width: 100%;
         height: 70%;"> </a>
         <div class="card-body">
           <h5 class="card-title">Card title</h5>
           <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
           <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
         </div>
       </div>
    </div>


    <div class="card-group">
      <div class="card">
       <a> <img src="IMG\finnarbeidereLogoSmall.png" style="width: 100%;
        height: 70%;"> </a>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <a> <img src="IMG\finnarbeidereLogoSmall.png" style="width: 100%;
         height: 70%;"> </a>
         <div class="card-body">
           <h5 class="card-title">Card title</h5>
           <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
           <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
         </div>
       </div>
       <div class="card">
        <a> <img src="IMG\finnarbeidereLogoSmall.png" style="width: 100%;
         height: 70%;"> </a>
         <div class="card-body">
           <h5 class="card-title">Card title</h5>
           <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
           <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
         </div>
       </div>
    </div>
    </div>
    <!-- End Example Code -->
  </body>
</html>