<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>A U T H</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/bgk.css">
</head>

<body>
  <section class="vh-100 " style="background-color: #f8f9fa; z-index: 1;">
<div id="scrollbar">
  

  <div style=" box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"> 
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navZindex navHome shadow-lg p-3">
      <div class="container px-6">
        <a href="/"> <img src="IMG/logo.svg" alt="" style="width: 200px;"> </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="container">
            <ul class="navbar-nav d-flex justify-content-evenly">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Hjem</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/register">Registrer deg</a>
              </li>
              <li class="nav-item active"><a class="nav-link" href="/login">Login</a>
            </li>
              <li class="nav-item">
                <a class="nav-link" href="/#KontaktOss">Kontakt oss</a>
              </li>
              <li class="nav-item"><a class="nav-link" href="#!">Om</a>
              </li>
            </li>

            </ul>
          </div>
        </div>
      </div>
    </nav>
  
  </div>



  <img class=" img-fluid" src="IMG/blured2.jpg" id="blured">







<div class="form" style="height: 310px;">

    <form action="/login" method="POST" class="mx-1 mx-md-4">

      

      <div class="d-flex flex-row align-items-center mb-4">
        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
        <div class="form-outline flex-fill mb-0">
          <input type="email" class="form-control" name="username">
        <label class="form-label" for="email">Email</label>
        </div>
      </div>




    <div class="d-flex flex-row align-items-center mb-4">
      <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
      <div class="form-outline flex-fill mb-0">
        <div class="form-group">
          <input type="password" class="form-control" name="password">
          <label for="password">Passord</label>
        </div>
      </div>
    </div>


    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
      <button type="submit" class="btn btn-primary btn-lg modernButton" style="background-color: #0F4C75; border-color: #0F4C75;">Login</button>
    </div>
  
  
  </form></div>
</section>

<div class="footer-dark footPlaced">
  
  <footer class="footerWhtieLine">
      <div class="container">
          <div class="row">
              <div class="col-sm-6 col-md-3 item">
                  <h3>Services</h3>
                  <ul>
                      <li><a href="#">Web design</a></li>
                      <li><a href="#">Development</a></li>
                      <li><a href="#">Hosting</a></li>
                  </ul>
              </div>
              <div class="col-sm-6 col-md-3 item">
                  <h3>About</h3>
                  <ul>
                      <li><a href="#">Company</a></li>
                      <li><a href="#">Team</a></li>
                      <li><a href="#">Careers</a></li>
                  </ul>
              </div>
              <div class="col-md-6 item text">
                  <h3>Company Name</h3>
                  <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
      </div>
       <footer class="py-5 bg-grey">
        <div class="container px-5"><p class="m-0 text-center text-white">Copyright &copy; FinnArbeidere 2022</p></div>
    </footer> 
  </footer>
</div>
</div>
</body>
</html>


























